Source: ktimetrace
Section: x11
Priority: extra
Maintainer: David Schleef <ds@schleef.org>
Build-Depends: debhelper (>> 3.0.0), libcomedi-dev (>= 0.7.16-1.1), kdelibs-dev, zlib1g-dev, automake1.4
Standards-Version: 3.5.2

Package: ktimetrace
Architecture: any
Depends: ${shlibs:Depends}
Description: Graphical tool to measure and graph data
 KTimeTrace is a graphical tool based on Qt that measures and
 displays data from data acquisition hardware.  It captures
 samples from a data acquisition device, saving it to disk
 while providing a real-time graphing display.
 .
 KTimeTrace requires having a data acquisition device that is
 supported by Comedi in order to capture data.  See the libcomedi0
 package or http://stm.lbl.gov/comedi for more information about
 Comedi.

